CUSTOM_HOST=hw1.pashok.local
CUSTOM_WEB_PORT=80

# по этому порту можно будет зайти IDE-шкой для скуля
CUSTOM_MYSQL_PORT=3301
#только при инициализации БД. В существующей БД, этот параметр будет проигнорирован. (юзеры опредеелены внутри самой бд). ПС, не плохобы сменить, после развертыавния БД.
MYSQL_ROOT_PASSWORD=lalalalala
# где хранить файлы БД. Можно относительно docker-compose.yaml, можно абсолютный путь.
MYSQL_DATA_PATH=./mysql_db_files
# а вот это выбрать в зависимости от того, какую базу равернем.
MYSQL_DATABASE=first_in_docker
MYSQL_USER=pashok
MYSQL_PASSWORD=pashok

# любой из IP машины, где будет запущена IDE, ожидающая подключения дебага.
XDEBUG_REMOTE_IP = 10.11.111.20
