# CUSTOM_HOST=hw4.pashok.local тут не применимо, глядеть в nginx/hosts/inc_server_name.conf-examle
CUSTOM_WEB_PORT=80
CUSTOM_MYSQL_PORT=3301
MYSQL_ROOT_PASSWORD=lalalalala
MYSQL_DATA_PATH=./mysql_db_files

XDEBUG_REMOTE_IP = 10.11.111.20
