###> symfony/framework-bundle ###
APP_ENV=
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> php-webdriver/webdriver (selenium) ###
SELENIUM_GRID_URL=
###< php-webdriver/webdriver (selenium) ###
