###> symfony/framework-bundle ###
APP_ENV=
APP_SECRET=
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> php-webdriver/webdriver (selenium) ###
SELENIUM_GRID_URL=
###< php-webdriver/webdriver (selenium) ###

###> reports ###
REPORT_FILE_PATH=
NEWS_REPORT_FILE_PREFIX=
REPORT_URL=
###< reports ###
