NGINX_PORT=8000
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASSWORD=password
GMAIL_TRANSPORT_DSN=gmail+smtp://gmail-account-name:app-password@smtp.gmail.com:587