COMPOSE_PROJECT_NAME=homework30

###> php-fpm ###
PUID=1000
PGID=1000
INSTALL_XDEBUG=true
###< php-fpm ###

###> nginx ###
PHP_UPSTREAM_CONTAINER=php-fpm
PHP_UPSTREAM_PORT=9000
NGINX_HOST_HTTP_PORT=8888
###< nginx ###

###> rabbit-mq ###
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_MANAGEMENT_PORT=15672
RABBIT_USER=guest
RABBIT_PASSWORD=guest
###< rabbit-mq ###

###> tamplates ###
HTML_TEMPLATES_PATH=${PWD}/templates/
###< tamplates ###
