CONTAINER_PHP=NAME_FOR_CONTAINER_PHP
CONTAINER_NGINX=NAME_FOR_CONTAINER_NGINX
CONTAINER_REDIS=NAME_FOR_CONTAINER_REDIS
CONTAINER_MCACHE=NAME_FOR_CONTAINER_MEMCACHED
CONTAINER_DB=NAME_FOR_CONTAINER_MYSQL

DB_ROOT_PASSWORD=PASSWORD_FOR_ROOT
DB_NAME=DB_NAME
DB_USER=TEST_USER
DB_PASSWORD=TEST_USER_PASSWORD
