.idea/
/vendor/
.DS_Store
.AppleDouble
.LSOverride


/homestead/vendor
/homestead/.vagrant
/homestead/phpunit.xml
/homestead/Homestead.yaml
/homestead/Homestead.json
/homestead/after.sh
/homestead/aliases
/homestead/mysqldump.sql.gz
/homestead/mysql_backup
/homestead/postgres_backup
/homestead/user-customizations.sh
/homestead/.phpunit.result.cache
/homestead/wsl-init.log
/homestead/.backup/*


/virtual_server/logs/**
/virtual_server/db/**
!/virtual_server/db/db_docker
