<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Асинхронный запрос через RabbitMQ</title>
</head>
<body>
<h2>Отправка запроса в банк</h2>
<form method="POST" style="width: 500px">
    <label>Имя</label>
    <input name="user_name" type="text" style="display: block">
    <label>Email</label>
    <input name="email" type="text" style="display: block">
    <label for="data">Содержание заявки</label>
    <input id="data" name="data" type="text" style="width: 400px; display: block">
    <input type="submit" name="send" value="Отправить">
</form>
</body>
</html>