<html lang="en">
    <ul>
        {% for item in news %}
        <li>
            <a href="{{ item.getUrl() }}">
                {{ item.getTitle() }}
            </a>
        </li>
        {% endfor %}
    </ul>
</html>
