{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <h2>Форма генерации банковской выписки:</h2>
    <form action="/" method="post">
        <label>
            Дата начала периода:
            <input type="date" required name="from">
        </label>
        <br>
        <br>
        <label>
            Дата окончания периода:
            <input type="date" required name="to">
        </label>
        <br>
        <br>
        <label>
            Email уведомления о завершении:
            <input type="email" required name="email">
        </label>
        <br>
        <br>
        <button type="submit">Сгенерировать</button>
    </form>
{% endblock %}