upstream php-fpm-backend {
    least_conn;
    server app1:9000;
    server app2:9000;
    server app3:9000;
}

server {
    listen 80;

    root /data/mysite.local/public;
    index index.php;

    server_name mysite.local;

    charset utf-8;

    client_max_body_size 16m;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php-fpm-backend;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

}
