



.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    background-color: darkgrey;
    font-family: "American Typewriter";
    margin-bottom: 10rem;
}


.smallImg {
    width: 300px;
    height: 250px;
}


.comeBackBtn {
	height: 50px;
	margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: pink;
}

.productDescription  {
    text-align: center;

}

.feedback {
    width: 600px;
    border: 1px solid pink;
    text-align: center;
    margin-left: -150px;

}

.product {
    margin-bottom: 2rem;
    border: lightpink 1px solid;
    text-align: center;

}

.card-body {
    text-align: center;
}

.table {
   color: white;
}

.form {
    border: 6px solid pink;
    width: 40vw;
    margin: 10vh 35vw ;
    padding: 10vh 10vw;
    text-align: center;

}

.submitBtn {
    margin-left: 50px;

}

.address {
    width: 80rem;
}



input:invalid{
    background-color: pink;
}

.changePic:hover .card-img-top{
     background-color: green;
}

.forImg {
    padding-left: 10rem;
}
