###> symfony/framework-bundle ###
APP_SECRET=your_secret_key
###< symfony/framework-bundle ###

DATABASE_URL="postgresql://user:password@db:5432/media_monitoring"
DATABASE_HOST="db"
DATABASE_PORT="5432"
DATABASE_NAME="media_monitoring"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
APP_ENV=dev
APP_DEBUG=true