BROKER_CONNECT='Orlov\Otus\Connection\RabbitMqConnect'
BROKER_HOST='rabbitmq'
BROKER_PORT=5672
BROKER_USER='guest'
BROKER_PASSWORD='guest'
EXCHANGE='orlov'
QUEUE='otus'

EMAIL_SMTP='smtp.yandex.ru'
EMAIL_PORT=465
EMAIL_USER='alex'
EMAIL_PASSWORD='123456'
EMAIL_FROM='test1@mail.ru'
EMAIL_TO='test2@mail.ru'