APP_ENV=dev
APP_SECRET=696985760efc6419ad5a75ccb15ad7cb
APP_BASE_URL=http://localhost:8080/

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DRIVER=pdo_pgsql
DATABASE_SERVER_VERSION=15
