MYSQL_HOST=mysql
MYSQL_DATABASE=hw1s
MYSQL_ROOT_PASSWORD=example1s
MYSQL_PORT_IN=3306
MYSQL_PORT_OUT=3327
MYSQL_USER=admins
MYSQL_PASSWORD=example2s

NGINX_PORT_IN=80
NGINX_PORT_OUT=9092

REDIS_HOST=redis
REDIS_PORT_IN=6379
REDIS_PORT_OUT=6381

MEMCACHED_HOST=memcached
MEMCACHED_PORT_IN=11211
MEMCACHED_PORT_OUT=11216