MYSQL_HOST=mysql
MYSQL_DATABASE=hw1
MYSQL_ROOT_PASSWORD=example1
MYSQL_PORT_IN=3306
MYSQL_PORT_OUT=3326
MYSQL_USER=admin
MYSQL_PASSWORD=example2

NGINX_PORT_IN=80
NGINX_PORT_OUT=9091

REDIS_HOST=redis
REDIS_PORT_IN=6379
REDIS_PORT_OUT=6380

MEMCACHED_HOST=memcached
MEMCACHED_PORT_IN=11211
MEMCACHED_PORT_OUT=11215