{% extends 'indexAuth.php.twig' %}
{% block content %}

    <div class="card mb-3 text-center" style="width:50rem" >
        <div class="row no-gutters">
            <div class="col-md-6">
                <img  class="card-img" src="/public/img/{{goodAuth.img_dir}}">
            </div>
            <div class="col-md-6">
                 <div class="card-body">
                     <div class="card-title">{{goodAuth.name_product}}</div>
                     <div class="card-text">{{goodAuth.price_product}}</div>
                     <div class="card-text">{{goodAuth.description_short}}</div>
                 </div>
            </div>
        </div>
        <a href="/goodAuth"><button class="comeBackBtn">К Каталогу</button></a>
    </div>

{% endblock %}

