{% extends 'indexAdmin.php.twig'  %}

{% block title %}Все товары{% endblock %}
{% block content %}<div>
    <h1> {{userAdmin.login}}</h1>
    <h2> {{userAdmin.name}}</h2>
    <a href="/userAdmin/update?id={{userAdmin.id}}"><button class="comeBackBtn">Обновить</button></a>
    <a href="/auth/logOut"><button class="comeBackBtn">Выйти</button></a>
</div>
{% endblock %}

