{% extends 'indexAdmin.php.twig' %}

{% block content %}
<ul class="list-group">
    {% for user in usersAdmin %}
    <a href="/user/one?id={{user.id}}">
        <div class="card-body">
            <li class="list-group-item">
                <h5 class>
                 {{ user.login }}
                <a href="/userAdmin/deleteFromDB?id={{user.id}}"><button class="comeBackBtn">Удалить</button></a>
                </h5>
            </li>
        </div>
    </a>
    {% endfor %}
    <a href="/userAdmin/addToDB"><div class="card-body"><li class="list-group-item">Добавить</li> </div></a>
</ul>
{% endblock %}
