COMPOSE_PROJECT_NAME=

###> php-fpm ###
PUID=
PGID=
INSTALL_XDEBUG=
###< php-fpm ###

###> nginx ###
PHP_UPSTREAM_CONTAINER=
PHP_UPSTREAM_PORT=
NGINX_HOST_HTTP_PORT=
###< nginx ###

###> postgres ###
POSTGRES_DB_HOST=
POSTGRES_DB_NAME=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
###< postgres ###
