<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: block">
    <h3>Введите значения параметров</h3>
    <form name="feedback" method="POST" style="width: 300px; display: block">
        <input type="text" title="param1" name="param1" value="1">
        <input type="text" title="param2" name="param2" value="2">
        <input type="submit" name="send" value="Отправить" style="float: right">
    </form>
</div>
</body>
</html>