{% extends 'index.php.twig' %}

{% block content %}
    <div>
        <form action="/auth/login" method="post">
            <input class="form-control" type="text" name="login" placeholder="login">
            <input class="form-control" type="text" name="password" placeholder="Пароль">
            <input class="form-control" type="submit" value="Войти">
        </form>

        <a href="user/addtoDB"><button class="comeBackBtn">Зарегистрироваться</button></a>

    </div>


{% endblock %}
