{% extends 'index.php.twig' %}

{% block title %}Все товары{% endblock %}
{% block content %}<div>
    <h1> {{user.login}}</h1>
    <h2> {{user.name}}</h2>
    <a href="/user/update?id={{user.id}}"><button class="comeBackBtn">Обновить</button></a>
    <a href="/user/deleteFromDB&id={{user.id}}"><button class="comeBackBtn">Удалить</button></a>
</div>
{% endblock %}

